/* flex and aligning */

body {
    margin: 0px;
    margin-top: 5%;
    white-space: nowrap;
    font-family: sans-serif;
}

input {
    border: gray;
}

#nav-bar, #profile-design-element-box {
    position: fixed;
    width: 100%;
}

#nav-bar {
    top: 0;
}

#profile-design-element-box {
    bottom: 0;
    height: 10%;
}

nav a, footer a {
    text-decoration: none;
}

nav img {  
    width: 100%;
    height: 100%;
}

nav ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
    text-transform: uppercase;
}

nav ul, #nav-bar ul ul, footer ul {
    display: flex;
    padding-right: 0.5%;
    gap: 10px;
    flex-wrap: nowrap;
}

#nav-bar ul {
    align-items: center;
    justify-content: space-between;
}

#nav-bar ul ul ul {
    display: table-caption;
}

#nav-taps ul li {    
    align-self: flex-end;
    padding-bottom: 4px;
}

#nav-taps img, .user-id img {
    max-width: 64px;
    max-height: 64px;
    min-width: 64px;
    min-height: 64px;
}

.light-to-dark-shaded {
    background: -moz-linear-gradient(top, rgba(142, 142, 142, 0.5) 0%, rgba(108, 108, 108, 0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(142, 142, 142, 0.5) 0%, rgba(108, 108, 108, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(192, 192, 192, 0.4) 40%, rgba(108, 108, 108, 0.4) 100%);
    padding: 1px;
    padding-left: 1%;
    
}

.user-id {
    display: flex;
    line-height: 2.5px;
}

.user-id div .user-text-info {
    margin: 0;
}

a.selectet-nav-tap {
    border: 5px hidden;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
}

footer {
    margin-top: 100%;
}

footer ul {
    justify-content: center;
}

.dropdown-content, p {
    text-transform: none;
}

.dropdown-content {  
    width: 20%;
    right: 0;
}

.dropdown-buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

button {
    border: 0px;
}

.submit {
    background-color: #00BD5E;
    font-size: 15px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.action {
    background-color: red;
}

.edit {
    background-color: gray;
}

#post-nav { 
    display: flex;
    flex-grow: 4;
    justify-content: space-between;
    margin: 25%;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

#progressbar {
    position: fixed;
    top: 40%;
    left: 45%;
    width: 160px;
    height: 80px;
    padding: 25px;
}

#read-and-accept-backgrund {
    position: fixed;
    background-color: black;
    opacity: 75%;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
}

#read-and-accept-box {
    position: fixed;
    max-width: 75%;
    max-height: 75%;
    min-width: 50%;
    margin: 25%;
    margin-top: 0%;
    margin-left: 12.5%;
    padding: 1%;
    z-index: 1;
    background-color: #535353;
    border: 5px solid #434343;
    -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.75);
}

#read-and-accept-box button {
    margin-left: calc(50% - 20px);
    margin-top: 2.5%;
}

/* on hover over or clicking on context effects */

nav a:hover, footer a:hover, button {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}