/* Theme Coloring */

/* for light theme */

body.light-theme * {
    color: black;
}

body.light-theme, body.light-theme input, body.light-theme textarea, body.light-theme select {
    background-color: snow;
}

body.light-theme #nav-bar ul, body.light-theme footer ul {
    background-color: lightgray;
}

body.light-theme .post-block, body.light-theme .selectet-nav-tap {
    background-color: rgba(227, 227, 227, 0.5);
}

body.light-theme .post-block:hover {
    background: -moz-radial-gradient(center, rgba(0, 0, 0, 0.125) 25%, rgba(255, 255, 255, 0.25) 100%);
    background: -webkit-radial-gradient(center, rgba( 0, 0, 0, 0.125) 25%, rgba(255, 255, 255, 0.25) 100%);
    background: radial-gradient(ellipse at center, rgba( 0, 0, 0, 0.125) 25%, rgba(255, 255, 255, 0.25) 100%);

    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.125); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.125);
}

/* for dark theme */

body.dark-theme * {
    color: lightgray;
}

body.dark-theme, body.dark-theme input, body.dark-theme textarea, body.dark-theme select {
    background-color: #1A2421;
}

body.dark-theme #nav-bar ul, body.dark-theme footer ul {
    background-color: #363636;
}

body.dark-theme .post-block, body.dark-theme .selectet-nav-tap {
    background-color: rgba(113.5, 113.5, 113.5, 0.5);
}

body.dark-theme .post-block:hover {
    background: -moz-radial-gradient(center, rgba(255, 255, 255, 0.25) 25%, rgba(0, 0, 0, 0.125) 100%);
    background: -webkit-radial-gradient(center, rgba( 255, 255, 255, 0.25) 25%, rgba(0, 0, 0, 0.125) 100%);
    background: radial-gradient(ellipse at center, rgba( 255, 255, 255, 0.25) 25%, rgba(0, 0, 0, 0.125) 100%);
    
    -webkit-box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.125); 
    box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.125);
}

/* for dark and light theme  */

.submit {
    background-color: #00BD5E;
}
.action {
    background-color: red;
}

.edit {
    background-color: gray;
}