body {
    margin-right: 2.5%;
    margin-left: 1.25%;
}

ol {
  counter-reset: item;
  margin-top: 20px;
  margin-bottom: 20px;
}
li {
  display: block;
}

li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

li h2, li h3, li h4, li h5 {
    display: inline;
    margin-left: 10px;
}