@import "tailwindcss";

@layer components {
    .profile-element {
        @apply p-[45%] bg-amber-700;
    }

    #custom-profile {
        @apply grid grid-cols-2 gap-y-[3%] place-items-center
    }

    #profile-container {
        @apply p-8
    }

    #navigation-bar {
        @apply bg-gray-600 flex place-content-between
    }
}